<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stilein_test.css' %}">
</head>
    <body>
    <div class="Box-size">
        <div class="leyout1">
            <div class="rights"><a href="/admin"><img class="img_logo2" src="{% static 'img/logo2.png' %}" alt="Тут другое лого Админки">Админка</a></div>
            <div class="lefts"><img class="img_logo" src="{% static 'img/logo.png' %}" alt=""> </div>
        </div>
        <div class="menu1">
            <ul class="menus">
                <li class="lint"><a href="/"> Главная </a></li>
                <li><a href="#">Типы</a>
                    <ul class="submenu1">
                        {% for type in types %}
                        <li><a href="/myapp/type/{{ type.pk }}">{{ type.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Категорий</a>
                    <ul class="submenu1">
                        {% for category in categorys %}
                        <li><a href="/myapp/category/{{ category.pk }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                <li><a href="#">Под котегорий</a>
                    <ul class="submenu1">
                        {% for sub_category in sub_categorys %}
                        <li><a href="/myapp/sub_category/{{ sub_category.pk }}">{{ sub_category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li> <a href="#">______Заглушка_____</a>
                    <ul class="submenu1">
                        <li><a href="#">Заглушка</a></li>
                        <li><a href="#">Заглушка</a></li>
                        <li><a href="#">Заглушка</a></li>
                        <li><a href="#">Заглушка</a> </li>
                    </ul>
                </li>
                <li> <a href="#">______Заглушка_____</a>
                    <ul class="submenu1">
                    <li><a href="#">Заглушка</a></li>
                    <li><a href="#">Заглушка</a></li>
                    <li><a href="#">Заглушка</a></li>
                    <li><a href="#">Заглушка</a></li>
                    <li><a href="#">Заглушка</a></li>
                </ul>
                </li>
                <li> <a href="#">______Заглушка_____</a><ul class="submenu1">
                    <li><a href="#">раз</a></li>
                    <li><a href="#">Заглушка</a></li>
                    <li><a href="#">Заглушка</a></li>
                    <li><a href="#">Заглушка</a></li>
                </ul></li>
                <li><a href="myapp/about_us">О нас</a> </li>
                <li class="submenu_ends"> <a href="myapp/partners">Информация для партнеров&nbsp;</a> </li>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
        </div>
        <div class="clr"></div>
        <div class="footer">
            <h3>&copy; Все права зашишены <a href="https://www.https://geekbrains.ru.com">geekbrains</a></h3>
        </div>
</body>

</html>
