body {
    margin: 0px;
    padding: 3px;
}

.Box-size {
    padding: 5px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #efefef;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

ul {
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}

ul.menus > li {
    /*float: left;*/
    float: left;
    position: relative;
}

ul.menus > li > a {
    display: block;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    background-color: #dacb0e;
}

ul.menus > li > a:hover {
    background-color: #eb9316;
}

ul.submenu1 {
    position: absolute;
    width: 240px;
    top: 46px;
    left: 0px;
    display: none;
    background-color: white;
}

ul.submenu1 > li {
    display: block;
}

ul.submenu1 > li > a {
    display: block;
    text-decoration: none;
    padding: 9px;
    color: #ffffff;
    background-color: #da570f;
}

ul.submenu1 > li > a:hover {
    background-color: #eb9316;
    text-decoration: none;
}

ul.menus > li:hover > ul.submenu1 {
    display: block;
}

.info {
    background-color: #ffffea;
    padding: 10px;
    margin-left: 1px;
    margin-right: 1px;
    outline: 1px solid #000;
}

.menu1 {
        margin: 0 0 0 auto;
        /*margin-left: auto;*/
        height: 50px;
}

div.dday{
    /*position: float;*/
    display:inline-block;
    margin: 5px;
}

div.leyout1 {
    display: block;
    min-height:70px;
    max-height:70px;
    height:100%;
    background-color: #FFFFFF
    }

div.leyout1 div.lefts {
    display: block;
    float: left;

    }

div.leyout1 div.rights {
    display: block;
    float: right;
}

div.nodecor{
    text-color: red;
    text-size:16px;
    display:inline-block;
    /*position:float;*/
    margin: 5px;
}

div.nodecor a:link {
    background-color: inherit;
    text-color: black;
}

div.nodecor a:visited {
    background-color:inherit;
    text-color: black;
}

div.nodecor a:active {
    background-color: #ff960b;
    text-color: black;
}

.footer {
    height: 100px;
    width: 1200px;
    margin: -100px auto 0;
}
.footer > h3 {
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    width: 1200px;
}

.footer > h3 > a{
    font: 16px/26px Roboto,Arial,Helvetica,sans-serif;
    text-decoration: none;
    color: black;
}

.footer > h3 > a:visited{
    color: black;
}