* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0 0px;
    padding: 3px;
}

.Box-size {
    min-height: 100%;
    padding: 0;
    min-width: 400px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #efefef;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

ul {
    list-style: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}

ul.menus > li {
    display: inline-block;
    margin-left: -4px;
    position: relative;
}

ul.menus > li > a {
    display: inline-block;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    background-color: green;
}

ul.menus > li > a.last {
    margin-left: 4px;
}


ul.menus > li > a:hover {
    background-color: green;
}

ul.submenu1 {
    position: absolute;
    width: 200px;
    top: 46px;
    left: auto;
    display: none;
    background-color: white;
}

ul.submenu1 > li {
    display: block;
}

ul.submenu1 > li > a {
    display: block;
    text-decoration: none;
    padding: 9px;
    color: #ffffff;
    background-color: green;
}

ul.submenu1 > li > a:hover {
    background-color: green;
    text-decoration: none;
}

ul.menus > li:hover > ul.submenu1 {
    display: block;
}

li.lint > a {
    margin-left: 5px;
}

.info {
    background-color: #ffffea;
    padding: 10px;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
    outline: 1px solid #000;
}



.info a {
    color: black;
    text-decoration: none;
}

.menu1 {
        margin: 0 0 0 auto;
        height: 50px;
}

.dday{
    /*position: float;*/
    display:inline-block;
    margin: 5px;
}

.leyout1 {
    display: block;
    min-height: 55px;
    max-height: 55px;
    height:100%;
    background-color: #FFFFFF;
    }

.lefts {
    font: 16px/26px Roboto,Arial,Helvetica,sans-serif;
    display: block;
    float: left;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 25px;
    }

.rights {
    text-decoration: none;
}

.leyout1 > .rights {
    display: block;
    text-decoration: none;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.rights a {
    margin-top: 35px;

    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.rights a:active {
    margin-top: 35px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.rights a:visited {
    margin-top: 35px;
    margin-right: 20px;
    text-decoration: none;
    color: black
}

.nodecor{
    text-color: green;
    text-size: 16px;
    display:inline-block;
    /*position: float;*/
    margin: 5px;
}

.nodecor a {
    background-color: inherit;
    color: #022d38;
}

.nodecor a:visited {
    background-color:inherit;
    color: #022d38;
}

.nodecor a:active {
    background-color: #47ff00;
    color: #022d38;
}
.clr {
    margin: 100px;
}

.dhcp-box {
    max-height: 230px;
    max-width: 400px;
    min-height: 190px;
    min-width: 190px;
    white-space: nowrap;
    text-align: center;
}

.img_logo {
    height: auto;
    width: auto;
    max-width: 23px;
    max-height: 23px;
}

.h2_log {
    margin-left: 20px;
    margin-right: 20px;
}

.img_logo2 {
    height: auto;
    width: auto;
    max-width: 23px;
    max-height: 23px;
    margin-bottom: -4px;
}

.footer {
    float: unset;
    height: 100px;
    width: 1200px;
    margin: -100px auto 0;
}
.footer > h3 {
    float: right;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 30px;
    /*width: 1200px;*/
}

.footer > h3 > a{
    font: 16px/26px Roboto,Arial,Helvetica,sans-serif;
    text-decoration: none;
    color: black;
}

.footer > h3 > a:visited{
    color: black;
}

.footer > h3 > a:active{
    color: black;
}

.no_i {
    margin-top: 20px;
    /*position: fixed;*/
    margin-right: 20px;
}